body {
  
}

#bar {
  display: inline-block;
}

#bar2 {
  display: inline-block;
  float: right;
}

.surferPic {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: auto;
}

.header {
  background: url('../images/surf-head.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}

.carousel-class {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}

li {
  display: inline;
}

