@(message: String)

@Main("Home") {
   <div class="container">
     <div id="carousel-example-generic" class="carousel slide">
     
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
        </ol>
        
        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="kalani-pic"></div>
                <div class="carousel-caption">
                    <h3>Kalani David</h3>
                </div>
            </div>
            <div class="item">
                <div class="moore-pic"></div>
                <div class="carousel-caption">
                    <h3>Clarissa Moore</h3>
                </div>
            </div>
            <div class="item">
                <div class="jake-pic"></div>
                <div class="carousel-caption">
                    <h3>Jake Marshall</h3>
                </div>
            </div>
            <div class="item">
                <div class="souza-pic"></div>
                <div class="carousel-caption">
                    <h3>Adriano de Souza</h3>
                </div>
            </div>
            <div class="item">
                <div class="kolohe-pic"></div>
                <div class="carousel-caption">
                    <h3>Kolohe Andinoh</h3>
                </div>
            </div>
            <div class="item">
                <div class="keliamoniz"></div>
                <div class="carousel-caption">
                    <h3>Kelia Moniz</h3>
                </div>
            </div>
        </div>
        
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="icon-next"></span>
        </a>
        
     </div> 
   </div>
}
