@(page: String, isLoggedIn: Boolean, userInfo: UserInfo, surfers: List[Surfer])

@Main(page, isLoggedIn, userInfo) {
   <div class="container">
   @if(isLoggedIn) {
     <div id="carousel-example-generic" class="carousel slide">
     
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <@for(index <- 0 to surfers.size() - 1) {
              @if(index == 0) {
               <li data-target="#carousel-example-generic" data-slide-to="@index" class="active"></li>
             } else {
              <li data-target="#carousel-example-generic" data-slide-to="@index"></li>
            }
         }
        </ol>
        
        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            @for(size <- 0 to surfers.size() - 1) {
        @if(size == 0) {
        <div class="item active">
          <div class="carousel-class" style="background:url(@surfers.get(size).getCarouselUrl());
                                background-size:cover;background-position: center;"></div>
          <div class="carousel-caption">
            <h3>@surfers.get(size).getName()</h3>
          </div>
        </div>
        } else {
        <div class="item">
          <div class="carousel-class" style="background:url(@surfers.get(size).getCarouselUrl());
                                    background-size:cover;background-position: center;"></div>
          <div class="carousel-caption">
            <h3>@surfers.get(size).getName()</h3>
          </div>
        </div>        
        }
      }
        </div>
        
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="icon-next"></span>
        </a>
        
     </div> 
     }
   </div>
}
