@(surfer: Surfer, surfers: List[Surfer])

@Main(surfers) {
   <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="well">
            <div class="surferPic" style="background:url(@surfer.getBioUrl());background-size:cover;background-position:center;"></div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="well">
            <h1>@surfer.getName()</h1>
            <b>Home: </b>@surfer.getHome()<br><br>
            <b>Awards: </b>@surfer.getAwards()<br><br>
            <b>Biography: </b>@surfer.getBio()<br><br>
            <div id="bar">
              <a class = "inL" href="@routes.Application.manageSurfer(surfer.getSlug())">Edit</a>
            </div>
            <div id="bar2">
              <a data-toggle="modal" href="#deleteDialog" class="inL">Delete</a>
            </div>
          </div>
         </div>
      </div>

  <div id="deleteDialog" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Really delete surfer?</h4>
        </div>
        <div class="modal-body">
          <p>This cannot be undone.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a  href="@routes.Application.deleteSurfer(surfer.getSlug())" class="btn btn-primary">Delete</a>
        </div>
      </div>
    </div>
  </div>

</div>
}
